<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uestc.dao.DormitoryMapper">
    <resultMap id="BaseResultMap" type="com.uestc.entity.Dormitory">
        <id column="dor_id" property="dorId" jdbcType="VARCHAR"/>
        <result column="dor_fee" property="dorFee" jdbcType="VARCHAR"/>
        <result column="dor_full" property="dorFull" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>